<footer>
    <div class="row">
        <div class="col-30">
            Made with <a href="inspiration.html" class="link">Inspiration</a>
        </div>
        <div class="col-70">
            <ul>
                <li><a href="https://www.linkedin.com/in/vassili-prokopenko/" class="link" target="_blank">Linkedin</a></li>
                <li><a href="https://docs.google.com/document/d/1W0-QIjajoPcEnDEO99qnTczTWo3l3Wu7W1VPZ29Igfw/preview?" class="link" target="_blank">Resume</a></li>
            </ul>
            <p class="copyright">© 2025</p>
        </div>
    </div>
</footer>