<nav class="navbar">
    <div class="col-30">
        <a href="index">
            VASSILI PROKOPENKO
        </a>
        <button id="menu-toggle" class="hamburger">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-menu-icon lucide-menu"><path d="M4 12h16"/><path d="M4 18h16"/><path d="M4 6h16"/></svg>
        </button>
    </div>
    <div class="navbarRight">
        <a href="index#main" class="mr-20">
            WORK
        </a>
        <a href="play">
            PLAY
        </a>
        <div class="contact">
            <a href="mailto:vassiligb12@gmail.com">CONTACT</a>
        </div>
    </div>
</nav>
<div class="hamburger-menu" id="mobile-menu">
    <a href="#main">WORK</a>
    <a href="play">PLAY</a>
    <a href="mailto:vassiligb12@gmail.com">CONTACT</a>
</div>