<!DOCTYPE HTML>

<html>
	<head>
		<title>Vassili Prokopenko</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
        <meta name="description" content="A designer and front-end developer, studying business analytics at McGill University.">
        <link rel="icon" type="image/x-icon" href="{{ '/images/icons/favicon.ico' | relative_url }}">
		<link rel="stylesheet" href="{{ '/style.css' | relative_url }}" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Inter:400,500,700&display=swap" rel="stylesheet">
	</head>
	<body{% if page.url == "/" %} class="index-page"{% endif %}>
        {% unless page.no_navbar %}
            {% include navbar.html %}
        {% endunless %}
        {{ content }}
        {% unless page.no_footer %}
            {% include footer.html %}
        {% endunless %}
        <script src="{{ '/main.js' | relative_url }}" defer></script>
    </body>
</html>